{% extends "sistema/base.html" %}

{%block title%}
    proveedores registrados
{% endblock %}

{%block contenido%}
    {%if user.is_authenticated%}
        <h3> Proveedores registrados</h3>
            <div class="d-flex justify-content-end mb-1">
                <a href="{%url 'crearProveedor'%}" class="btn btn-success btn-sm" data-toggle="tooltip" data-original-title="Crear">
                    Crear
                </a>
            </div> 
            <div class="card">
            <div class="table-responsive">
                <table id="example" class=" display mt-5 table align-items-center mb-0" style="width: 100%">
                <thead>
                    <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dirección</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Teléfono</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in lista_proveedores %}
                    <tr>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0 fs-6">{{ proveedor.nombre }}</p>
                    </td>

                    <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0 fs-6">{{ proveedor.direccion }}</p>
                    </td>

                    <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0 fs-6">{{ proveedor.telefono }}</p>
                    </td>

                    <td class="align-middle text-center">
                    <a href="{%url 'editarProveedor' id=proveedor.id%}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-original-title="Editar">
                        Editar
                    </a>
                    <a href="{% url 'eliminarProveedor' id=proveedor.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-original-title="Eliminar">
                        Eliminar
                    </a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dirección</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Teléfono</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    </tr>
                </tfoot>
                </table>
            </div>
            </div>        
    {%else%}
        <h3 >Usuario no autenticado</h3>
        <h5 >No tienes acceso al sistema</h5>

    {%endif%}
{%endblock%}