{% extends "sistema/base.html" %}

{%block title%}
    Salidas registrados
{% endblock %}

{%block contenido%}
    {%if user.is_authenticated%}
        <h3> Salidas registrados</h3>
            <div class="d-flex justify-content-end mb-1">
                <a href="{% url 'salida'%}" class="btn btn-success btn-sm" data-toggle="tooltip" data-original-title="Crear">
                    Crear
                </a>
            </div> 
            <div class="card">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for salida in lista_salidas %}
                    <tr>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ salida.id }}</p>
                    </td>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ salida.producto }}</p>
                    </td>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ salida.fecha }}</p>
                    </td>

                    <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">{{ salida.cantidad }}</p>
                    </td>

                    <td class="align-middle text-center">
                    <a href="editar/{{salida.id}}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-original-title="Editar">
                        Editar
                    </a>
                    </td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>        
    {%else%}
        <h3 >Usuario no autenticado</h3>
        <h5 >No tienes acceso al sistema</h5>

    {%endif%}
{%endblock%}