{%load static%}
    <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                Hecho con <i class="fa fa-frown-o"></i> por
                <a href="https://scontent.fyai2-1.fna.fbcdn.net/v/t39.30808-6/283845710_1036181643663738_8595740171455126114_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEzCatclKUC20GLre5J1l5fYXV6W3Dl__RhdXpbcOX_9Cs3u0KDHbt1X1-sHjLptIOPRcVElkf1OMvS83k0FrsZ&_nc_ohc=Ofp07xHrf8oAX8iIAnq&_nc_ht=scontent.fyai2-1.fna&oh=00_AfAmRCZAD4UbQ1wKaZ8RubHNTNpwVDnfo4D3LMlCKLO92Q&oe=6461A118" class="font-weight-bold" target="_blank">José Díaz</a>
                por obligación.
              </div>
            </div>
          </div>
        </div>
    </footer>