{% extends "sistema/base.html" %}

{%block title%}
    Ingreso inventario
{% endblock %}

{%block contenido%}
    {%if user.is_authenticated%}
        <div class="container">
        <div class="row align-items-center">
            <div class="col-12 hero-text-image">
            <div class="row">
                <div class="col-lg-8 text-center text-lg-start">
                <h3>Ingreso de inventario</h3>

                <form method="post">
                        <table class="table">
                            {{form.as_table}}
                            <tr>
                                <td colspan="2">
                                    <input type="submit" class="btn btn-success float-end" value="agregar">
                                    <a href="/inventarios" class="btn btn-danger"> volver</a>
                                </td>
                            </tr>
                        </table>
                        {% csrf_token %}
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>        
    {%else%}
        <h3 >Usuario no autenticado</h3>
        <h5 >No tienes acceso al sistema</h5>
    {%endif%}
{%endblock%}