{% extends "sistema/base.html" %}

{% block title %}
    Ingreso producto
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card border-3" style="border-color: #8488a5;">
                        <div class="card-header text-white" style="background-color: #3a416f;">
                            <h2 class="card-title text-white text-center text-uppercase">Ingreso de producto</h2>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group text-center">
                                    <label for="{{ form.nombre.id_for_label }}" class="fs-6">Nombre:</label>
                                    {{ form.nombre }}
                                    {% if form.errors.nombre %}
                                    <div class="form-group text-center">
                                        {% for error in form.errors.nombre %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group text-center">
                                    <label for="{{ form.valor_unitario.id_for_label }}" class="fs-6">Valor:</label>
                                    {{ form.valor_unitario }}
                                    {% if form.errors.valor_unitario %}
                                    <div class="form-group text-center">
                                        {% for error in form.errors.valor_unitario %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group text-center">
                                    <label for="{{ form.categoria.id_for_label }}" class="fs-6">Categoría:</label>
                                    {{ form.categoria }}
                                    {% if form.errors.categoria %}
                                    <div class="form-group text-center">
                                        {% for error in form.errors.categoria %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group text-center">
                                    <label for="{{ form.proveedor.id_for_label }}" class="fs-6">Proveedor:</label>
                                    {{ form.proveedor }}
                                    {% if form.errors.proveedor %}
                                    <div class="form-group text-center">
                                        {% for error in form.errors.proveedor %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="form-group text-center">
                                    <label for="{{ form.estado.id_for_label }}" class="fs-6">Estado:</label>
                                    {{ form.estado }}
                                    {% if form.errors.estado %}
                                    <div class="form-group text-center">
                                        {% for error in form.errors.estado %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-success w-25" value="Agregar">
                                    <a href="/productos" class="btn btn-danger w-25 ms-3">Volver</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>Usuario no autenticado</h3>
        <h5>No tienes acceso al sistema</h5>
    {% endif %}
{% endblock %}